.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 62px 10vw;
  padding-bottom: 12px;
}

.home-promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 12px;
  width: 100%;
}

.item-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-promo > img {
  width: 100%;
}

.promo-brand {
  font-weight: 400;
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}