nav {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.nav-link {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  color: hsl(203, 100%, 80%);
}