nav {
  background-color:hsl(0, 0%, 27%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.nav-link {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background-color: hsl(0, 0%, 39%);
}