.item-title {
  font-weight: 600;
  font-size: 32px;
}

.item-image {
  width: 100%;
}

.size-selection {
  border: none;
}

.sizes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.item-price {
  color: hsl(12, 96%, 35%);
}

.add-to-cart {
  background-color: hsl(100, 87%, 61%);
  border: none;
  border-radius: 5px;
  color: hsl(177, 94%, 19%);
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(100, 67%, 77%);
}

.size-container input[type='radio'] {
  display: none;
}

.size-container {
  display: flex;
}

.size {
  background-color: hsl(0, 0%, 94%);
  border-radius: 5px;
  border: 3px solid hsla(0, 0%, 0%, 0%);
  text-align: center;
  width: 100%;
  padding: 12px;
}

.size:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 80%);
}

input[type='radio']:checked + label {
  border: 3px solid black;
}

.message {
  color: red;
}