.item-title {
  font-weight: 600;
  font-size: 32px;
}

.item-image {
  width: 100%;
}

.size-selection {
  border: none;
}

.sizes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.item-price {
  color: hsl(12, 96%, 35%);
}

.add-to-cart {
  background-color: hsl(100, 87%, 61%);
  border: none;
  border-radius: 5px;
  color: hsl(177, 94%, 19%);
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(100, 67%, 77%);
}

.size input[type='radio'] {

}

.size {
  background-color: hsl(0, 0%, 94%);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.size:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 80%);
}

.sizes input[type="radio"]:checked + label {
  border: 5px solid black;
  background-color: aquamarine;
}