.item-title {
  font-weight: 600;
  font-size: 32px;
}

.item-image {
  width: 100%;
}

.sizes {
  border: none;
}

.item-price {
  color: hsl(12, 96%, 35%);
}

.add-to-cart {
  background-color: hsl(100, 87%, 61%);
  border: none;
  border-radius: 5px;
  color: hsl(177, 94%, 19%);
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(100, 67%, 77%);
}